.button {
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	outline: none;
    border-style: none;
    background-color: rgb(160, 185, 252);
}
.cancle {
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	outline: none;
    border-style: none;
    background-color: rgb(252, 215, 160);
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}